*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
}

*:focus {
  outline: none;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

button {
  background-color: #fff;
  cursor: pointer;
}
